@import "tailwindcss";

@theme {
  --color-brand-50: #eff1ff;
  --color-brand-100: #e1e4ff;
  --color-brand-200: #c9cfff;
  --color-brand-300: #a4adfc;
  --color-brand-400: #7b85fa;
  --color-brand-500: #4a5ff7;
  --color-brand-600: #3846e1;
  --color-brand-700: #2931c8;
  --color-brand-800: #232ca1;
  --color-brand-900: #212880;

  --color-accent-50: #fdf5f2;
  --color-accent-100: #faebe2;
  --color-accent-200: #f5d6c6;
  --color-accent-300: #eebda1;
  --color-accent-400: #e39d75;
  --color-accent-500: #d6804e;
  --color-accent-600: #c6663c;

  --font-sans: var(--font-inter);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased overflow-x-hidden;
  }
}

@layer components {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .glass-dark {
    @apply bg-slate-900/70 backdrop-blur-md border border-white/10 shadow-xl text-white;
  }
}